<a href="https://colab.research.google.com/github/livjab/DS3-Kaggle-Comptetion/blob/master/LJ_DS3_Kaggle_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
test = pd.read_csv("https://raw.githubusercontent.com/livjab/DS3-Kaggle-Comptetion/master/test_features.csv")
train = pd.read_csv("https://raw.githubusercontent.com/livjab/DS3-Kaggle-Comptetion/master/train_features.csv")
train_y = pd.read_csv("https://raw.githubusercontent.com/livjab/DS3-Kaggle-Comptetion/master/train_labels.csv")

train.head()

      id  amount_tsh  ...              waterpoint_type waterpoint_type_group
0  69572      6000.0  ...           communal standpipe    communal standpipe
1   8776         0.0  ...           communal standpipe    communal standpipe
2  34310        25.0  ...  communal standpipe multiple    communal standpipe
3  67743         0.0  ...  communal standpipe multiple    communal standpipe
4  19728         0.0  ...           communal standpipe    communal standpipe

[5 rows x 40 columns]

In [3]:
train.shape, train_y.shape, test.shape

((59400, 40), (59400, 2), (14358, 40))

In [4]:
train.dtypes

id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height                 int64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private                int64
basin                     object
subvillage                object
region                    object
region_code                int64
district_code              int64
lga                       object
ward                      object
population                 int64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year          int64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
dtype: object

In [5]:
# fast first baseline

train_y["status_group"].value_counts(normalize=True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [6]:
# going to combine train_y with train for ease

train = pd.merge(train, train_y)
train.shape

(59400, 41)

In [7]:
# starting with a simple logistic regression model using only numeric columns
# and simple inputer to handle nulls

numeric_columns = train.select_dtypes(include="number").columns
numeric_columns.tolist()

['id',
 'amount_tsh',
 'gps_height',
 'longitude',
 'latitude',
 'num_private',
 'region_code',
 'district_code',
 'population',
 'construction_year']

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer

features = numeric_columns
target = "status_group"

X_train = train[features]
y_train = train[target]
X_test = test[features]

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

log_reg = LogisticRegression(solver="lbfgs")
log_reg.fit(X_train_imputed, y_train)

log_reg.score(X_train_imputed, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.550993265993266

In [0]:
# going to submit baseline

y_pred = log_reg.predict(X_test_imputed)

sample_submission = pd.read_csv('https://raw.githubusercontent.com/livjab/DS3-Kaggle-Comptetion/master/sample_submission.csv')
submission = sample_submission.copy()
submission['status_group'] = y_pred

from google.colab import files
submission.to_csv('LJ-first-submission.csv', index=False)
files.download('LJ-first-submission.csv')

In [10]:
# let's up the ante with xgboost classifier

from xgboost import XGBClassifier
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score

scores = cross_validate(XGBClassifier(max_depth=8, n_estimators=100),
                       X_train_imputed,
                       y_train,
                       scoring="accuracy",
                       cv=3,
                       return_train_score=True,
                       return_estimator=True)

pd.DataFrame(scores)

    fit_time  score_time  ... test_score  train_score
0  19.033911    0.588790  ...   0.690859     0.758889
1  18.978579    0.647721  ...   0.692121     0.760101
2  18.979190    0.597876  ...   0.687626     0.759419

[3 rows x 5 columns]

In [0]:
boost = XGBClassifier(max_depth=8, n_estimators=100)
boost.fit(X_train_imputed, y_train)

y_pred = boost.predict(X_test_imputed)

In [0]:
sample_submission = pd.read_csv('https://raw.githubusercontent.com/livjab/DS3-Kaggle-Comptetion/master/sample_submission.csv')
submission = sample_submission.copy()
submission['status_group'] = y_pred

from google.colab import files
submission.to_csv('LJ-second-submission.csv', index=False)
files.download('LJ-second-submission.csv')

In [13]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 5.9MB/s
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.2.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.3)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.9.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [0]:
# Would like to create a model that includes all features
# Will need to do some serious cleaning/encoding of categorical features

In [0]:
# drop "id" because it is random

X_train = train.drop(columns="id")
X_test = test.drop(columns="id")

In [16]:
train.amount_tsh.isnull().sum()

0

In [34]:
train.date_recorded.dtypes

dtype('O')

In [18]:
train.date_recorded.describe()

count          59400
unique           356
top       2011-03-15
freq             572
Name: date_recorded, dtype: object

In [19]:
train.date_recorded.isnull().sum()

0

In [40]:
# Want to split the date recorded into year, month, and day categories

train["date_recorded_sep"] = train["date_recorded"].str.split("-")
train["date_recorded_sep"].head()

0    [2011, 03, 14]
1    [2013, 03, 06]
2    [2013, 02, 25]
3    [2013, 01, 28]
4    [2011, 07, 13]
Name: date_recorded_sep, dtype: object

In [0]:
train["year_recorded"] = train["date_recorded_sep"].str[0]
train["month_recorded"] = train["date_recorded_sep"].str[1]
train["day_of_month_recorded"] = train["date_recorded_sep"].str[2]

In [0]:
# Let's turn these into numeric columns

train["year_recorded"] = pd.to_numeric(train["year_recorded"])
train["month_recorded"] = pd.to_numeric(train["month_recorded"])
train["day_of_month_recorded"] = pd.to_numeric(train["day_of_month_recorded"])

In [0]:
# same for test set

test["date_recorded_sep"] = test["date_recorded"].str.split("-")

test["year_recorded"] = test["date_recorded_sep"].str[0]
test["month_recorded"] = test["date_recorded_sep"].str[1]
test["day_of_month_recorded"] = test["date_recorded_sep"].str[2]

test["year_recorded"] = pd.to_numeric(test["year_recorded"])
test["month_recorded"] = pd.to_numeric(test["month_recorded"])
test["day_of_month_recorded"] = pd.to_numeric(test["day_of_month_recorded"])

In [0]:
train = train.drop(columns="date_recorded_sep")
test = test.drop(columns="date_recorded_sep")

In [60]:
train.funder.value_counts().head(10)

Government Of Tanzania    9084
Danida                    3114
Hesawa                    2202
Rwssp                     1374
World Bank                1349
Kkkt                      1287
World Vision              1246
Unicef                    1057
Tasaf                      877
District Council           843
Name: funder, dtype: int64

In [59]:
train.funder.isnull().sum()

3635

In [0]:
train["funder"] = train.funder.fillna(value="Government Of Tanzania")
test["funder"] = test.funder.fillna(value="Government of Tanzania")

In [62]:
# high cardinality so trying binary encoding

#encoder = ce.BinaryEncoder()
#encoded = encoder.fit_transform(train[["funder"]])
#print(f'{len(encoded.columns)} columns')
#encoded.head()

12 columns

   funder_0  funder_1  funder_2  ...  funder_9  funder_10  funder_11
0         0         0         0  ...         0          0          1
1         0         0         0  ...         0          1          0
2         0         0         0  ...         0          1          1
3         0         0         0  ...         1          0          0
4         0         0         0  ...         1          0          1

[5 rows x 12 columns]

In [0]:
import category_encoders as ce

X_train = train.drop(columns=["status_group", "date_recorded"])
y_train = train["status_group"]
X_test = test.drop(columns="date_recorded")

imputer = SimpleImputer(strategy="most_frequent")
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

encoder = ce.BinaryEncoder()
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [85]:
scores = cross_validate(XGBClassifier(max_depth=5, n_estimators=100),
                       X_train,
                       y_train,
                       scoring="accuracy",
                       cv=3,
                       return_train_score=True,
                       return_estimator=True)

pd.DataFrame(scores)

     fit_time  score_time  ... test_score  train_score
0  104.065572    0.700282  ...   0.772273     0.790404
1  103.639979    0.708248  ...   0.775808     0.788763
2  103.109728    0.718316  ...   0.773636     0.792525

[3 rows x 5 columns]

In [0]:
boost = XGBClassifier(max_depth=5, n_estimators=100)
boost.fit(X_train, y_train)

y_pred = boost.predict(X_test)

In [0]:
# third submission

sample_submission = pd.read_csv('https://raw.githubusercontent.com/livjab/DS3-Kaggle-Comptetion/master/sample_submission.csv')
submission = sample_submission.copy()
submission['status_group'] = y_pred

from google.colab import files
submission.to_csv('LJ-third-submission.csv', index=False)
files.download('LJ-third-submission.csv')